body {
    background-image: url(bcimg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cars{
    background-color: black;
    color: aqua;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
}
.cars:hover {
    animation: 3s linear 0s infinite running mycarbtn;
}
@keyframes mycarbtn {
    0%{color: red;}
    20%{color: orange;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: red;}
    0%{box-shadow: 0px 0px 15px white;}
    50%{box-shadow: 0px 0px 10px white;}
    100%{box-shadow: 0px 0px 15px white;}
}
@keyframes myhpbtn {
    
    0%{box-shadow: 0px 0px 15px white;}
    50%{box-shadow: 0px 0px 10px white;}
    100%{box-shadow: 0px 0px 15px white;}
}
.n {
    display:block;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(149, 117, 117, 0.406);
    margin: 0;
    color: rgb(145, 244, 244);
}
.notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.snote{
    background-color: transparent;
    width: 250px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0px 0px 15px rgba(149, 117, 117, 0.406);
    margin: 20px;
}
.snote h2 {
    color: aqua;
    margin-top: 0;
}
.snote p {
    color: rgb(145, 244, 244);
    font-size: 16px;
    line-height: 1.5;
}
.snote {
    transition: transform 1.3s ease; box-shadow: 0.3 s ease;
}
.snote:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 25px #26D0CE;
}
.hp{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: transparent;
    color: aqua;
    border-radius: 10px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.notes::after{
    content: "";
    flex-basis: 100%;
    order: 1;
}
.hp:hover {
    animation: 3s linear 0s infinite running myhpbtn;
}
.bottomnote{
    width: 250px;
    order: 2;
}