#icon11 {
    color: red;
    font-size: 100px;
    transition: transform 1.3s ease;
}
#icon12 {
    color: red;
    font-size: 100px;
    transition: transform 1.3s ease;
}
#icon13 {
    color: red;
    font-size: 100px;
    transition: transform 1.3s ease;
}

#icon11:hover {
    animation: 3s linear 0s infinite running myiCON1;
    transform: translateY(-10px), scale(1.5);
}
#icon12:hover {
    animation: 3s linear 0s infinite running myiCON2;
    transform: translateY(-10px), scale(1.5);
}
#icon13:hover {
    animation: 3s linear 0s infinite running myiCON3;
    transform: translateY(-10px), scale(1.5);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.btn {
    font-size: 15px;
    border-radius: 12px;
    color: aqua;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
button:hover {
    animation: 3s linear 0s infinite running mybtn;
}
button::after{
    color: green;
    background-color: blueviolet;
}
body {
    background-image: url(bcimg.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-attachment: fixed;
}
p {
    font-size: 20px;
}
@keyframes myiCON1 {
    20% {transform: translateY(-10px);}
    80%, 20% {transform: translateY(-10px);}
    0%, 100% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
}
@keyframes myiCON2 {
    20% {transform: translateY(-10px);}
    80%, 20% {transform: translateY(-10px);}
    0%, 100% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
}
@keyframes myiCON3 {
    20% {transform: translateY(-10px);}
    80%, 20% {transform: translateY(-10px);}
    0%, 100% { color: rgb(53, 169, 218); }
    20% { color: rgb(24, 137, 223); }
    40% { color: rgb(43, 85, 224); }
    60% { color: rgb(2, 40, 80); }
    80% { color: rgb(2, 2, 92); }
}
@keyframes mybtn {
    0%   { color: red;    box-shadow: 0 0 50px rgb(249, 249, 249); }
    20%  { color: orange; box-shadow: 0 0 50px rgb(179, 218, 244); }
    40%  { color: yellow; box-shadow: 0 0 50px rgb(250, 250, 248); }
    60%  { color: green;  box-shadow: 0 0 50px rgb(170, 224, 245); }
    80%  { color: blue;   box-shadow: 0 0 50px rgb(174, 174, 239); }
    100% { color: red;    box-shadow: 0 0 50px rgb(244, 242, 242); }
}

@media (max-width: 600px) {
    .icon1 {
        font-size: 60px;
    }

    p {
        font-size: 17px;
    }

    .container {
        width: 100%;
    }

    .btn {
        font-size: 14px;
    }
}
.tnote {
    color: rgb(145, 244, 244);
    display: block;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(6, 6, 6, 0.2);
    margin: 0;
}
.notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.note {
    background-color: transparent;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(176, 143, 143, 0.2);
    margin: 0;
    text-align: center;
    transition: transform 1.3s ease, box-shadow 0.3s ease;
}
.note p {
    color: rgb(145, 244, 244);
    font-size: 18px;
    line-height: 1.5;
}
.note {
    transition: transform 1.3s ease, box-shadow 0.3s ease;
}
.note:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 25px #26D0CE;
}
.note .p1 {
    color: rgb(145, 244, 244);
    font-size: 28px;
    line-height: 1.5;
    justify-content: center;
}
.mypic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypic img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 40%;
    animation: photoGlow 2s infinite;
}

.somenotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
}
@media (max-width: 700px) {
    .somenotes{
        flex-direction: column;
    }
}
@keyframes photoGlow {
    0%, 100% {
        box-shadow: 0 0 10px #26D0CE;
    }

    50% {
        box-shadow: 0 0 30px #26D0CE;
    }
}
#proj {
    font-size: 24px;
    border-radius: 12px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
#htag {
    color:#0ea3a0;
    font-size: 24px;
}
.tnote1 {
    display: block;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(71, 71, 90, 0.2);
    margin: 0;
    font-size: 30px;
    color: rgb(145, 244, 244);
}
.ico{
    border-radius: 2px;
}
a {
 color: aqua;
}
a::after{
    color: blue;
}
#n1 {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}